/vendor
/node_modules
/public/storage
.env
Homestead.yaml
Homestead.json
/database/factories
/database/seeds
/database/database.php

config/database.php
readme.md
public/css/datedropper.css


/database/capstone.db
/public/images
