/*
    Welcome Page
*/
   .welcome_header{
        /*background-color: #9E5A63 !important;*/
/*        margin-top:-20px !important;
*/       /* margin-bottom: -10px !important;*/
        /*margin-bottom: 0 !important;*/
   }
/*    .welcome_header:after {
      content:'';
      top: 0;
      left: 0;
      z-index: 10;
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      background: blue;
      opacity: 0.1;
    }*/
    .minfooter{
        background-color: #314455 !important;
        color: white !important;
    }

    .thumnail-border{
        border:0 !important;
    }

    .minfooter{
      padding:20px 0;
      opacity: 0.8;
    }
    
    .carousel-inner > .item > img {
      width:100%;
      height:600px;
      max-height: 100%;
    }


    .marginbottom .panel{
      transition: box-shadow 0.5s;
    }

    .marginbottom .panel:hover{
        cursor: pointer;
        box-shadow: 5px 0px 40px rgba(0,0,0,0.8);
    }
    .rounded{
      border-radius: 3px;
     
    }
    .pt-b{
      padding-top:15px;
      padding-bottom:15px;
      padding-left:20px;
    }
    .circle{
            border-radius: 50%;
            height: 100px;
            font-weight: bold;
            width: 100px;
    }
    

/*Search Bar*/
    .search{
/*      padding-top:50px;
      padding-bottom: 50px;*/
      margin-top: -30px!important;
    }
.search-bar {
  background: blue;
  /*position: absolute;
  z-index: 1;*/
}



    .margin-t-b{
      margin: 10px auto;
    }

    .margin-t-b a input{
        margin-right: 20px;
        transform: scale(1.5,1.5);
    }

    .search .row .input-group, .search .row .btn-group{
      width:100%;
    }

     .search .row .btn-group .btn,{
      width:100%;
    }
     .search .row .btn-group .btn.dropdown-toggle{
      width:100%;
    }
     .search .row .btn-group .dropdown-menu{
      width:100%;
    }

   
/* Create Group */
/*
.form-group input[type="checkbox"] {
    display: none;
}

.form-group input[type="checkbox"] + .btn-group > label span {
    width: 20px;
}

.form-group input[type="checkbox"] + .btn-group > label span:first-child {
    display: none;
}
.form-group input[type="checkbox"] + .btn-group > label span:last-child {
    display: inline-block;   
}

.form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
    display: inline-block;
}
.form-group input[type="checkbox"]:checked + .btn-group > label span:last-child {
    display: none;   
}

.marginbottom{
  margin-bottom: 20px !important;
}

.resizeable{
  resize: none !important;
}*/

/* event create */


/*show events*/
.panel-body{
  word-wrap: break-word;
}

hr.noresult{
    overflow: visible; /* For IE */
    height: 30px;
    border-style: solid;
    border-color: green;
    border-width: 1px 0 0 0;
    border-radius: 20px;
    color:green;
}
hr.noresult:before { /* Not really supposed to work, but does */
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: green;
    border-width: 0 0 1px 0;
    border-radius: 20px;

}

@media (max-width:768px){
  .carousel-inner > .item > img {
      width:100%;
      height:300px;
    }
}



/*------------------------------------------------------------------
[ Login Page + Register Page ]*/

[ FONT ]*/

@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/poppins/Poppins-Regular.ttf'); 
}

@font-face {
  font-family: Montserrat-Bold;
  src: url('../fonts/montserrat/Montserrat-Bold.ttf'); 
}

.login-body {
  height: 100%;
  font-family: Poppins-Regular, sans-serif;
  margin: 0px; 
  padding: 0px; 
  box-sizing: border-box;
}
.limiter {
  width: 100%;
  margin: 0 auto;
  padding:0 0;
}
.container-login {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: #f2f2f2;
  margin: 0;
}
.wrap-login {
  width: 100%;
  background: #fff;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  /*flex-direction: row-reverse;*/
  margin-left:0;
  padding:0;
}

/* [Register] */
.reverse {
  flex-direction: row-reverse;
}

/* [background Image ]*/
.login-img{
  width: calc(100% - 750px);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}
.login-img:before {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  top: 0;
  background: rgba(0,0,0,0.1);
}
.login-img:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

/*[ Login container ]*/
.p-container {
  box-shadow: none;
  width: 750px;
  min-height: 100vh;
  display: block;
  /*background-color: #f7f7f7;*/
  padding: 100px 55px 55px 55px;
  border:none;
}

/*[ Login Heading ]*/
.login100-form-title {
  width: 100%;
  padding: 10px 0;
  display: block;
  font-size: 30px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
}

/*[ login button ]*/
.btn-new {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  background: #6675df;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/*[ Input text box ]*/
.form-box {
    background: transparent;
}
input.form-box {
  outline: none;
}


/*[ text container and button]*/
.img {
  padding-top: 200px;
}
.img__text {
  z-index: 2;
  position: absolute;
  left: 0;
  top: 50px;
  width: 100%;
  text-align: center;
  color: #fff;
  margin-top: 120px;
}
.img__text p {
  line-height: 1.5;
}
.img__btn {
  z-index: 2;
  position: relative;
  width: 110px;
  height: 40px;
  margin:auto;
  background: transparent;
  color: #fff !important;
  text-transform: uppercase;
  font-size: 20px;
  cursor: pointer;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #fff;
  border-radius: 5px;
}
 
  
/*------------------------------------------------------------------
[ Index Page ]*/
#about, #services, #contact {
  padding: 50px 0;
}
.row-clear {
  margin: 0;
}

/*[ Banner + ban-image]*/ 
.banner {
  background-color: #0c0c0c;
  background-size: cover;
  background-attachment: fixed;
  background-position: center, center;
  background-repeat: no-repeat;
  position: relative;
}
.size{
    padding: 15em 0 11em 0;
}

.ban-image {
  padding: 5em 0 11em 0!important;

}

/*[ 'Get Started' Button ]*/
.actions {
  padding: 0;
  list-style-type: none;
}
.actions li {
  list-style: none;
  padding-left:0;
}
.start-btn {
  font-weight: 700;
  color: #fff !important;
  background-color: #EB586F;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
  display: inline;
}
.btn-xl {
  text-transform: uppercase;
  padding: 1.5rem 3rem;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}
.text-white {
    color: #fff!important;
}
.title h1{
  font-size: 32px; 
  padding-bottom: 10px;
}
.flex-sb-m {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
}
section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}
section h3.section-subheading {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 75px;
  text-transform: none;
  font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
@media (min-width: 768px) {
  section {
    padding: 96px 0;
  }
}

section {
    padding: 60px 0;
    position: relative;
    overflow: hidden;
}

/*[ Section 1 of index page ]*/
.bg-purple {
  /*background-color: #6675df;*/
}
.rounded-circle {
    border-radius: 50%!important;
}
.img-fluid {
    max-width: 90%;
    height: auto;
    vertical-align: middle;
    border-style: none;
}
.service-box {
    max-width: 400px;
    display: inline-block;
}
.ml-auto, .mx-auto {
    margin-left: auto!important;
    margin-right: auto!important;
}


/*[ 'how it works?' Section 2 of index page ]*/
.bg-light {
  background-color: #f8f9fa;
}
.steps {
  padding-top: 4rem;
}
.process-content {
  position: relative;
  text-align: center;
  padding-top: 20px;
}
.process-content .item[data-item]::before {
  background: #38424e;
  color: #FFFFFF;
  border-radius: 100%;
  font-family: "montserrat-bold", sans-serif;
  content: attr(data-item);
  display: inline-block;
  font-size: 18px;
  height: 42px;
  width: 42px;
  line-height: 42px;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 1.5rem;
}
.process-content h5 {
  color: #05bca9;
  font-size: 1.6rem;
  line-height: 1.875;
  letter-spacing: .2rem;
  margin-bottom: .3rem;
}


/*[  ]*/
.background-image-holder.fadeIn {
    opacity: 1;
}
.background-image-holder {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background: #292929;
    background-size: cover !important;
    background-position: 50% 50% !important;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    opacity: 0;
}
.image-square {
    height: 50vw;
    max-height: 640px;
    overflow: hidden;
    padding: 0;
}
.image-square.left .image {
    left: 0;
}
.image-square .image {
    height: 100%;
}
.image-square .image, .image-square > .content {
    position: absolute;
}
.image-square.left > .content {
    right: 0;
}
.image-square > .content {
    padding: 0 10%;
    top: 50%;
    transform: translate3d(0, -50%, 0);
    -webkit-transform: translate3d(0, -50%, 0);
    -moz-transform: translate3d(0, -50%, 0);
}
.image-square .image, .image-square > .content {
    position: absolute;
}



/*[ Main Footer section ]*/
.footer{
    background-color: #19181A !important;
    color:#fff !important;
    padding:10px;
}
.footer-basic-centered{
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  font: normal 18px sans-serif;

  padding: 45px;
  margin-top: 80px;
}

.footer-basic-centered .footer-company-motto{
  color:  #8d9093;
  font-size: 24px;
  margin: 0;
}

.footer-basic-centered .footer-company-name{
  color:  #8f9296;
  font-size: 14px;
  margin: 0;
}

.footer-basic-centered .footer-links{
  list-style: none;
  font-weight: bold;
  color:  #ffffff;
  padding: 35px 0 23px;
  margin: 0;
}

.footer-basic-centered .footer-links a{
  display:inline-block;
  text-decoration: none;
  color: inherit;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 600px) {
  .footer-basic-centered{
    padding: 35px;
  }
}
  .footer-basic-centered .footer-company-motto{
    font-size: 18px;
  }

  .footer-basic-centered .footer-company-name{
    font-size: 12px;
  }

  .footer-basic-centered .footer-links{
    font-size: 14px;
    padding: 25px 0 20px;
  }

  .footer-basic-centered .footer-links a{
    line-height: 1.8;
  }
}
/*------------------------------------------------------------------
[ Create Event ]*/
.jumbotron-fluid {
  padding-top: 20px;
}
/*.event-container {
  padding-bottom: 100px
}*/
.mt-30 {
  margin-top: -30px!important;
}

.block.gray, .gray {
    background-color: #f4f4f4;
}
.block {
    float: left;
    padding: 65px 0;
    position: relative;
    width: 100%;
    z-index: 0;
}
.add-listing-sec {
    float: left;
    position: relative;
    width: 100%;
}
.add-listing-sec form {
    float: left;
    width: 100%;
}

.form-padding {
  padding: 8px 14px 8px 20px !important;
}

/*.cate-options {
  padding: 20px 12px 0px 12px !important;
}*/

@media only screen and (max-width: 1199px){
form.form-listing .inner-box:first-child {
    text-align: center;
}
}
@media only screen and (max-width: 600px){
form.form-listing .inner-box {
    padding: 15px;
}}
form.form-listing .inner-box {
    margin-bottom: 10px;
    box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.09);
    background-color: #fff;
    border-radius: 3px;
    padding: 40px 15px 18px;
}
form.form-listing .inner-box.form {
    padding-top: 56px;
    padding-bottom: 35px;
}
/*label.inner-box {
  font-family:"Montserrat", sans-serif;
}*/
.desc-box {
  margin-bottom: 15px;
}


.feature.boxed {
    padding: 32px;
    background: #f8f8f8;
}
.feature {
    margin-bottom: 24px;
}
.bg-secondary {
    background: #f8f8f8;
}
h4.uppercase {
    letter-spacing: 3px;
    margin-right: -3px;
}
h6.uppercase, .h6-u {
    letter-spacing: 2px;
    font-weight: 700;
    line-height: 24px;
}
.mt48 {
    margin-top: 48px;
}
p.lead {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}
.mb64 {
    margin-bottom: 64px;
}
@media (min-width: 768px)
.lead {
    font-size: 21px;
}
.lead {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4;
}
.overflow-hidden {
    overflow: hidden;
}
.feature hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 24px 0 24px 0;
    width: 100%;
}

/* Banner */
.page-title-1, .page-title-2 {
    height: 400px;
}
.page-title {
    padding: 0;
}
.overlay:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #292929;
    opacity: 0.3;
    z-index: 2;
}
.parallax:first-child .slides li > .background-image-holder, .parallax:first-child .background-image-holder {
    top: 0;
}
.parallax > .background-image-holder, .parallax .slides li > .background-image-holder {
    height: 100vh;
    top: -50vh;
    transition: all 0s ease !important;
    transition: opacity 0.3s ease !important;
    -webkit-transform-style: preserve-3d;
}
.background-image-holder.fadeIn {
    opacity: 1;
}
.background-image-holder {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background: #292929;
    background-size: cover !important;
    background-position: 50% 50% !important;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    opacity: 0;
}
.page-title .container {
    position: relative;
    transform: translate3d(0, -50%, 0);
    -webkit-transform: translate3d(0, -50%, 0);
    top: 50%;
    z-index: 2;
}
.image-bg .container, .image-bg div[class*='col-'] {
    position: relative;
    z-index: 3;
}
div[class*='col-'] {
    position: relative;
    z-index: 3;
}
.image-bg h1, .image-bg h2, .image-bg h3, .image-bg h4, .image-bg h5, .image-bg h6 {
    color: #ffffff;
}
h2.uppercase {
    letter-spacing: 10px;
    margin-right: -10px;
}
.mb8 {
    margin-bottom: 8px;
}
.image-bg p, .image-bg span, .image-bg li {
    color: #ffffff;
}
.page-title-2 .breadcrumb {
    position: relative;
    margin-bottom: 0;
    display: inline-block;
}
.breadcrumb-2 {
    background: none;
    padding: 0;
}
.breadcrumb {
    margin-bottom: 24px;
}
.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 4px;
}
.breadcrumb-2 li a, .breadcrumb-2 li {
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 24px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 11px;
    font-weight: 600;
}
.image-bg p, .image-bg span, .image-bg li {
    color: #ffffff;
}
.breadcrumb > li {
    display: inline-block;
}


.breadcrumb-2 li a, .breadcrumb-2 li {
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 24px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 11px;
    font-weight: 600;
}
.image-bg p, .image-bg span, .image-bg li {
    color: #ffffff;
}
.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 4px;
}
.breadcrumb-2 > li + li:before {
    padding: 0 16px;
    color: #bbb;
}
.breadcrumb > li + li:before {
    padding: 0 5px;
    color: #ccc;
    content: "/\00a0";
}



/* [Explore Category] */

.listing-item {
    background: #ccc;
    border-radius: 4px 4px 0 0;
/*    height: 100%;
*/    display: block;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
/*    height: 265px;
*/    z-index: 100;
    border-radius: 4px;
    flex-direction: row;
}



.listing-item img {
    object-fit: cover;
    height: 200px;
    width: 100%;
    border-radius: 4px 4px 0 0;

}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}

.irow { 
  -webkit-flex-direction: row; 
  flex-direction: row;
}
.column { 
  -webkit-flex-direction: column; 
  flex-direction: column; 
  float: left;
}
hr.my-4 {
  border-top: 3px double #8c8b8b;
  width: 150px;
}




@import url(https://fonts.googleapis.com/css?family=Lora|Roboto:400,500);
body::before,
body::after {
  content: "";
  display: table;
  clear: both;
}

 body, .text-light-black {
   color: rgba(0,0,0,0.6);
}
.text-black {
  color: rgba(0,0,0,0.9);
}
.text-muted {
  color: rgba(0, 0, 0, 0.3);
}



.ff-serif {
  font-family: 'Lora', serif;
}

.font-weight-normal {
  font-weight: normal;
}
.font-weight-medium {
  font-weight: 500;
}

 .lts-1px {
   letter-spacing: 1px;
}
.lts-2px {
  letter-spacing: 2px;
}


.w-full {
  width: 100%;
}

.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}

.d-block {
  display: block;
}
.d-inline-block {
  display: inline-block;
}

.p-relative {
  position: relative;
}
.p-absolute {
  position: absolute
}



.bg-white {
  background-color: #fff;
}






.small {
  font-size: 0.75rem;
}
.card-heading {
  font-size: 2.25rem;
}
.styled-link {
  text-decoration: none;
  outline: none;
  color: #2196fe;
  transition: all 0.25s ease-in; 
}
.styled-link:hover,
.styled-link:focus,
.styled-link:active {
  color: #536dfe;
}
.shadow-1 {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.15);
}
.blue-hover {
  transition: all 0.25s ease-in;
  border-bottom: 5px solid transparent;
}
.blue-hover:hover {
  transform: translateY(-5px);
  border: none;
  border-bottom: 5px solid #EB586F;
}


.clearfix {
  clear: both;
}
.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.float-left {
  float: left;
}
.float-right{
  float: right;
}






/**Margin and padding utilities*/
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.ml-auto {
  margin-left: auto;
}
.mr-auto {
  margin-right: auto;
}


.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}
.my-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.my-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.my-3 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.mt-0 {
  margin-top: 0;
}
.mt-1 {
  margin-top: 1rem;
}
.mt-2 {
  margin-top: 2rem;
}
.mt-3 {
  margin-top: 3rem;
}
.mt-8 {
  margin-top: 8px;
}
.mb-0 {
  margin-bottom: 0;
}
.mb0 {
    margin-bottom: 0 !important;
}
.mb-1 {
  margin-bottom: 1rem;
}
.mb-2 {
  margin-bottom: 2rem;
}
.mb-3 {
  margin-bottom: 3rem;
}



.px-0 {
  padding-left: 0;
  padding-right: 0;
}
.px-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.px-2 {
  padding-left: 2rem;
  padding-right: 2rem;
}
.px-3 {
  padding-left: 3rem;
  padding-right: 3rem;
}


.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}
.py-1 {
  padding-top: 1rem;
}
.py-2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.py-3 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}




.outer-div 
{
     height: 200px;
     overflow: hidden; 
     position: relative;
}

.image-holder {
    display:inline-block;
    position: relative;
}
.image-holder:after {
    content:'';
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    background: blue;
    opacity: 0.1;
}
.image-holder:hover:after {
    opacity: 0;
}



/*.inner-div
{
background-color:rgba(233,30,99,.3);
     height: 100%;
     width: 100%;
     background-size: cover;
     background-position: center;
     
}
.inner-div:hover
{
  background-color:transparent;
     
}*/










.lis-categories {
  -webkit-transition: 0.4s;
  cursor: pointer; 
    font-size: 14px;
    bottom: -100%;
    transition: all 0.4s; 
  }

  .lis-categories:hover {
    -webkit-transform: scale(1.06);
    -moz-transform: scale(1.1);
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.18); 
  }

.lis-categories div {
      -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -o-transition: all 1s ease; /* IE 9 */
    -ms-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
        max-width: 100%;
}

.lis-categories:hover img {
    -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
     transform:scale(1.25);
}

.wow {
      margin-bottom: 1.5rem!important;
}

.lis-bg-primary {
  background-color: #ff214f; }

.lis-bg-light {
  background-color: #f8f8f8; }

.lis-bg-dark {
  background-color: #222222; }

.lis-green-light {
  background-color: #64bc36; }

.lis-bg1 {
  background-color: #bf55ec; }

.lis-bg2 {
  background-color: #f89406; }

.lis-bg3 {
  background-color: #7747ff; }

.lis-bg4 {
  background-color: #f9690e; }

.lis-bg5 {
  background-color: #27ccab; }

.lis-bg6 {
  background-color: #f62459; }

.lis-bg7 {
  background-color: #19b5fe; }

.lis-bg8 {
  background-color: #f03434; }

.lis-bg9 {
  background-color: #ffd200; }

.lis-bg10 {
  background-color: #192026; }

.lis-bg11 {
  background-color: #3b97b5; }

.lis-bg12 {
  background-color: #22d754; }

  .pb-4, .py-4 {
    padding-bottom: 1.5rem!important;
}
.pt-4, .py-4 {
    padding-top: 1.5rem!important;
}
.pt8 {
  padding-top: 8px;
}


/*Event-date*/
.post__media {
    position: relative;
    z-index: 9;
/*    width: 100px;
*/}

.post__media .images {
    margin-bottom: 25px;
}

.post__media .images img {
    width: 100%;
}
img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border: 0;
}

.post__media .images ~ .post__date {
    top: 10px;
    left: 10px;
    position: absolute;
    margin-left: 0;
    margin-bottom: 0;
}


.post__date {
    margin-bottom: 10px;
    padding: 13px 10px;
    text-align: center;
    font-weight: 600;
    color: #4d4d4d;
    border: 1px solid #f1f1f1;
    background-color: #fff;
    height: auto;
}

.post__title {
    margin-top: 0;
    font-size: 24px;
    margin-bottom: 5px;
}

.post__date .day {
    font-size: 24px;
    line-height: 1;
    padding-bottom: 4px;
    margin-bottom: 9px;
    letter-spacing: 0.1em;
    border-bottom: 2px solid #4d4d4d;
}
.post__date span {
    display: block;
}

.post__date .month {
    font-size: 10px;
    letter-spacing: 0.05em;
    line-height: 1;
    text-transform: uppercase;
}

.post__grid {
    margin-bottom: 40px;
}
.post {
    position: relative;
}
.post__entry {
  padding: 0 10px;
}
.images__fit img {
  height: 100px;
  object-fit: cover;
}

/*Modal*/
.mod {
  border: 2px solid #fff;
  -webkit-border-radius:  26px;
  -moz-border-radius:     26px;
  -o-border-radius:       26px;
  -ms-border-radius:      26px;
  -moz-box-shadow:    1px 1px 5px rgba(0,0,0,0.5);
  -webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
  box-shadow:         1px 1px 5px rgba(0,0,0,0.5);
  width: 450px;
}

.modal-open {
    overflow: scroll;
}

 .modal-dialog {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) !important;
    }





@media screen and (max-width: 980px){
.wrapper.spotlight.alt {
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
}
.wrapper.spotlight.alt {
    -moz-flex-direction: row-reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.wrapper.spotlight {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-align-items: stretch;
    -webkit-align-items: stretch;
    -ms-align-items: stretch;
    align-items: stretch;
    padding: 0;
}
.wrapper.style1 {
    background-color: #72bee1;
    color: #ffffff;
}
.wrapper.style2 {
    background-color: #63b6b5;
    color: #ffffff;
}
.wrapper.style3 {
    background-color: #e78e84;
    color: #ffffff;
}



.wrapper {
    position: relative;
}

.wrapper.spotlight .content {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    padding: 5em 1em 2em 5em;
}
.wrapper.spotlight > :first-child {
    width: 60%;
}
.wrapper.spotlight > * {
    margin: 0;
}

.wrapper.spotlight > .image {
    border-radius: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: block;
}
.wrapper.spotlight > :last-child {
    width: 40%;
}

.image {
    border-radius: 4px;
    border: 0;
    display: inline-block;
    position: relative;
}





.reserve-block {
    padding: 30px 0;
}
.reserve-block h5 {
    color: #3e434b;
    font-weight: 400;
    display: inline-block;
    margin: 0;
}
.reserve-block p {
    display: inline-block;
    font-size: 18px;
    color: #b2b8c3;
    font-weight: 400;
    padding: 0 0 0 8px;
    margin: 0 0 8px;
}
@media (max-width: 576px){
.reserve-seat-block {
    text-align: center;
}
}
@media (max-width: 768px){
.reserve-seat-block {
    text-align: left;
}
}
@media (max-width: 992px){
.reserve-seat-block {
    margin: 15px 0 0;
}
}
.reserve-seat-block {
    text-align: right;
}
@media (max-width: 576px){
.join-btn {
    margin: 0 0 0;
    width: 100%;
}}
@media (max-width: 768px){
.join-btn {
    margin: -7px 0 0;
}}
.join-btn {
    display: inline-block;
    vertical-align: top;
}
@media (max-width: 1200px){
.featured-btn-wrap {
    margin: 3px 0 0;
}}
.featured-btn-wrap {
    text-align: center;
}
@media (max-width: 576px){
.featured-btn-wrap .btn-danger {
    width: 100%;
}}
.featured-btn-wrap .btn-danger {
    background: #ff3a6d;
    padding: 16px 50px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    border: 0;
}
.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}
.booking-details_wrap {
    padding: 26px 0;
}
.light-bg {
    background: #f3f4f7;
}
@media (max-width: 992px){
.responsive-wrap {
    max-width: 100%;
    -webkit-box-flex: 100%;
    -webkit-flex: 100%;
    -ms-flex: 100%;
    flex: 100%;
}}
.joining_wrap {
    background: #fff;
    padding: 30px;
}

.mt-4 {
    margin-top: 1.5rem!important;
}





/*  ----------------------------------------------------
6 speakers
-------------------------------------------------------- */
.speaker_box .speaker_img {
  position: relative;
  overflow: hidden;
  margin-bottom: 15px;
}
.speaker_box .speaker_img img {
  width: 100%;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}
.speaker_box .speaker_img .info_box {
  position: absolute;
  bottom: 25px;
  background-color: #18181c;
  padding: 10px 30px;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}
.speaker_box .speaker_img .info_box .name {
  color: #f50136;
  font-size: 16px;
  margin-bottom: 0;
  font-weight: 600;
  text-transform: capitalize;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}
.speaker_box .speaker_img .info_box .position {
  font-size: 12px;
  color: #ffffff;
  text-transform: capitalize;
}
.speaker_box .speaker_social {
  padding: 50px;
}
.speaker_box .speaker_social ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.speaker_box .speaker_social ul li {
  display: inline-block;
  margin-left: 4px;
}
.speaker_box .speaker_social ul li a {
  border: solid 1px #f50136;
  display: block;
  border-radius: 50px;
  padding: 7px 0;
  font-size: 24px;
  color: #f50136;
  width: 40px;
  height: 40px;
  text-align: center;
}
.speaker_box .speaker_social ul li a:hover {
  color: #ffffff;
  background-color: #f50136;
}
.speaker_box:hover .speaker_img img {
  width: 100%;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}
.speaker_box:hover .speaker_img .info_box {
  background-color: #f50136;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}
.speaker_box:hover .speaker_img .info_box .name {
  color: #ffffff;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}
.speaker_box:hover .speaker_img .info_box .position {
  color: #ffffff;
}


.section_title {
  position: relative;
  margin-bottom: 25px;
}
.section_title .title {
  text-transform: uppercase;
  padding: 10px 0;
  font-size: 36px;
}
.section_title .title:before {
  width: 30px;
  content: " ";
  position: absolute;
  border-top: solid 3px #f50136;
  left: 0;
  top: 0;
}

/*  ----------------------------------------------------
5 icon boxes
-------------------------------------------------------- */
.icon-lg {
  font-size: 64px !important;
}

.icon-md {
  font-size: 32px !important;
}

.icon-sm {
  font-size: 16px !important;
}
.icon_box_one {
  background-color: #f0f2f6;
  padding: 0;
  margin: 25px 0;
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 0 0 rgba(0, 0, 0, 0.08);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.icon_box_one i {
  margin-top: -10px;
  padding: 0 15px;
  font-size: 72px;
  color: #f50136;
  vertical-align: middle;
  border-radius: 4px;
  display: block;
  margin-bottom: 15px;
  line-height: 1;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.icon_box_one .content {
  margin-top: 0;
  padding: 10px 25px 25px;
}
.icon_box_one .content h4 {
  color: #18181c;
  margin-bottom: 15px;
  text-transform: capitalize;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.icon_box_one .content a {
  color: #f50136;
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.icon_box_one .content p {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.icon_box_one:hover {
  -webkit-box-shadow: 0 10px 32px rgba(0, 0, 0, 0.25);
          box-shadow: 0 10px 32px rgba(0, 0, 0, 0.25);
  background-color: #f50136;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.icon_box_one:hover i {
  color: #ffffff;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.icon_box_one:hover .content h4 {
  color: #ffffff;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.icon_box_one:hover .content p {
  color: #ffffff;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.icon_box_one:hover .content a {
  color: #ffffff;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.icon_box_two {
  position: relative;
  padding: 0;
  margin: 25px 0;
}
.icon_box_two i {
  position: absolute;
  left: 0;
  font-size: 56px;
  width: 50px;
  color: #f50136;
  top: 0;
  bottom: auto;
  line-height: 1;
}
.icon_box_two .content {
  margin-left: 60px;
  float: left;
}
.icon_box_two .content .box_title {
  margin-bottom: 3px;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 6px;
}
.icon_box_two .content p {
  font-weight: 500;
  color: #838383;
}

/*  ----------------------------------------------------
8 tabs
-------------------------------------------------------- */
.table.event_calender {
  position: relative;
  width: 100%;
  table-layout: fixed;
}
.table.event_calender thead.event_title {
  background-color: #f50136;
  color: #ffffff;
  border: 0;
}
.table.event_calender thead.event_title th {
  vertical-align: bottom;
  border: 0;
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 600;
}
.table.event_calender thead.event_title th i {
  font-size: 32px;
  float: left;
  line-height: 1;
}
.table.event_calender thead.event_title th span {
  margin-left: 10px;
  padding: 3px 0;
  display: inline-block;
}
.table.event_calender tbody {
  background-color: #f0f2f6;
  width: 100%;
}
.table.event_calender tbody td, .table.event_calender tbody th {
  border: 0;
  vertical-align: middle;
  text-align: center;
}
.table.event_calender tbody td img, .table.event_calender tbody th img {
  border-radius: 4px;
  display: block;
  width: 100px;

}
.event_date {
  font-weight: 600;
  font-size: 30px;
  color: #000;
  background-color: yellow;
}
.event_date span {
  display: block;
  font-weight: 400;
  font-size: 14px;
}
.event_place h5 {
  font-size: 18px;
  margin-bottom: 5px;
  font-weight: 500;
}
.table.event_calender tbody td.event_place h6 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  margin-bottom: 0;
}
@media screen and (max-width: 767px) {
/*  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }*/
  }
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    text-align: right;
  }
  
  table td::before {
    content: attr(data-label);
    float: left;
  }
}


.event {
    display: table;
    width: 100%;
    border-spacing: 10px 5px;
    height: 110px;
}
.event-inner {
    display: table-row;
}
.event .icon {
    color: #ffffff;
    background: #00a99d;
}
.event .icon i {
    display: block;
    margin-bottom: 10px;
}
.event .icon .time {
    font-family: 'Economica';
    font-size: 22px;
    font-weight: 700;
}
.event .description {
    background: #efefef;
}
.event .description {
    padding: 15px;
    display: table-cell;
    vertical-align: middle;
}


.card {
    border: 0;
    font-weight: 400;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}
.testimonial-card .card-up {
    overflow: hidden;
    height: 120px;
    -webkit-border-top-left-radius: .25rem;
    border-top-left-radius: .25rem;
    -webkit-border-top-right-radius: .25rem;
    border-top-right-radius: .25rem;
}
.indigo.lighten-1 {
    background-color: #5c6bc0!important;
}
.indigo {
    background-color: #3f51b5!important;
}
.testimonial-card .avatar {
/*    -webkit-border-radius: 50%;
*//*    border-radius: 50%;
*/    width: 120px;
    margin-top: -65px;
    overflow: hidden;
    border: 5px solid #fff;
}
.testimonial-card .card-body {
    text-align: center;
}
.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}
.card .card-body h1, .card .card-body h2, .card .card-body h3, .card .card-body h4, .card .card-body h5, .card .card-body h6 {
    font-weight: 400;
}
.card-title {
    margin-bottom: .75rem;
}

.e-line hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}
.e-line hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}
.e-line p {
    margin-top: 0;
    margin-bottom: 1rem;
}




/* How It Works */

@media only screen and (min-width: 991px) {
.flat-row, .flat-iconbox.style2, .flat-iconbox.style1, .flat-main-blog.style2, .flat-listing, .flat-imagebox.background {
    padding: 50px 0;
}
}
.flat-introduce {
    padding: 72px 0;
}
@media screen and (min-width: 767px) {
.how-it-works {
    display: inline;
    text-align: center;
}
}
@media screen and (min-width: 767px) {
.how-it-works > .work-icon {
    display: inline-block;
    float: none;
    margin: 20px 0;
    padding: 0;
    width: 100%;


}
}
.work-icon img {
  border: 0;
  vertical-align: middle;
}
@media screen and (min-width: 767px) {
  .work-detail {
      padding: 0 30px 40px;
  }
}
.work-detail > h3 {
    color: #00171f;
    float: left;
    font-family: Roboto;
    font-size: 19px;
    margin: 0 0 12px;
    width: 100%;
}
.work-detail > p {
    color: #8d99ae;
    float: left;
    font-family: Roboto;
    font-size: 15px;
    margin: 0;
    width: 100%;
}
.work-detail .number {
    color: #f6f6f6;
    font-family: Roboto;
    font-size: 175px;
    line-height: 140px;
    position: absolute;
    right: 20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: -1;
}
.how-it-works {
    background: #ffffff none repeat scroll 0 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 2px 5px #eaeaea;
    -moz-box-shadow: 0 2px 5px #eaeaea;
    -ms-box-shadow: 0 2px 5px #eaeaea;
    -o-box-shadow: 0 2px 5px #eaeaea;
    box-shadow: 0 2px 5px #eaeaea;
    display: table;
    float: left;
    position: relative;
    width: 100%;
    z-index: 0;
    margin-bottom: 30px;
}
.work-detail {
    display: table-cell;
    padding-right: 100px;
    vertical-align: middle;
}
.work-icon {
    display: table-cell;
    padding: 30px 20px;
}

.search-header, .search-header *, .menu-sec nav > ul > li a::before, .account-popup-sec, .account-popup-sec *, .list-detail-info, .product-box, .product-box *, .add-listing-btn, .acount-header-btn, .acount-header-btn *, .click-add-pictures, .add-listing-sec form button, .blog-post, .blog-post *, .pagination *, .link-widget a, .about-widget li a, .contact-widget li *, .widget *, .apply-coupons > form input[type="submit"], .update-cart, .cart-total-box > a, .payment-methods > a, .open-filter-btns > span, .listing-box *, .listing-box, .contactus-form input[type="submit"], .contact-box li *, .change-my-dp > a, .submission-btns button, .how-it-works *, .how-it-works, .directory-searcher > form button, .cat-lists > ul > li *, .dt-box, .dt-box *, .services *, .category-box *, .recent-places-box *, .view-all-blog, .choose-map-route *, .zoomer-btn *, .social-links *, .filter-btn, .list-detail-info *, .deals-meals-sec *, .opening-hours-box *, .location-box *, .add-review-form *, .side-search-form > form button, .results-sec *, .my-listing *, .pricing-tables, .pricing-tables *, .single-product-info *, .responive-header *, .responisve-menu > ul > li.menu-item-has-children::before



.block.no-padding {
    padding: 0;
}
.inner-header {
    float: left;
    padding: 40px 0;
    text-align: center;
    width: 100%;
}
@media (max-width: 767px){
.inner-header h2 {
    font-size: 20px;
}}
.inner-header h2 {
    color: #8d99ae;
    float: left;
    font-size: 30px;
    font-weight: 500;
    margin: 0;
    text-transform: uppercase;
    width: 100%;
}
.breadcrumbs {
    float: left;
    list-style: outside none none;
    margin: 10px 0 0;
    padding: 0;
    width: 100%;
}
.breadcrumbs ul {
    margin-top: 0;
    margin-bottom: 10px;
}

.breadcrumbs > li {
    display: inline-block;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 200;
    padding: 0 10px;
    position: relative;
}
.breadcrumbs > li a {
    color: #8d99ae;
}

/*ul, var, video {
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    font-style: inherit;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background: transparent;
}
.page-title ul.breadcrumbs li {
    display: inline-block;
    font-size: 16px;
}*/



.imagebox div {
  font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    font-style: inherit;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background: transparent;
}

.imagebox.style3, .imagebox.style4, .wrap-imagebox.style3 .imagebox.style1, .wrap-imagebox.style3 .imagebox.style2, .comment-area ol.comment-list li.comment {
    display: none;
}
.imagebox.style2 {
    margin-bottom: 50px;
}
@media (max-width: 991px){
.imagebox, .price-box {
    margin-bottom: 50px;
}}
.imagebox .box-imagebox {
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0px 7px 16px 0px rgba(0, 0, 0, 0.09);
}
@media (max-width: 991px){
.imagebox.style2 .box-header {
    float: none;
    max-width: 100%;
}}
.imagebox.style2 .box-header {
    float: left;
    max-width: 370px;
}
.imagebox.style2 .box-header .box-image {
    overflow: hidden;
    border-radius: 8px;
}
.imagebox .box-header .box-image {
    position: relative;
}
@media (max-width: 991px){
.imagebox.style2 .box-content, .imagebox.style2 .box-header .box-image img, .imagebox .box-header .box-image img, .imagebox.style5 .box-image img {
    width: 100%;
}}
img {
    max-width: 100%;
    height: auto;
}
img {
    border: 0;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle;
}
.imagebox .box-header .box-image a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scaleX(1.5);
    z-index: 99;
    color: #fff;
    font-size: 24px;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.imagebox .box-header .box-image:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: rgba(76, 161, 175, 0.9);
    z-index: 9;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
@media (max-width: 991px){
.imagebox.style2 .box-content, .imagebox.style2 .box-header .box-image img, .imagebox .box-header .box-image img, .imagebox.style5 .box-image img {
    width: 100%;
}}
.imagebox.style2 .box-content {
    float: left;
    padding: 29px 30px 0 30px;
    width: calc(100% - 370px);
}
.imagebox .box-content {
    padding: 30px 25px 43px;
}
.imagebox .box-content {
    padding: 30px 25px;
}
.imagebox.style2 .box-content .box-title {
    position: relative;
}
.imagebox .box-content .box-title.ad {
    position: relative;
}.
.imagebox .box-content .box-title.ad a {
    padding-left: 46px;
}
.imagebox .box-content .box-title a {
    font-size: 24px;
    font-weight: 500;
}
.imagebox.style2 .box-content ul.rating {
    margin-top: 5px;
}
.imagebox .box-content ul.rating {
    margin-top: 10px;
}
ul, ol {
    padding: 0;
}
ol, ul {
    list-style: none;
}
.imagebox .box-content ul.rating li:not(:last-child) {
    padding-right: 20px;
    margin-right: 17px;
    border-right: 1px solid #c2c2c2;
    line-height: 1;
}
.imagebox .box-content ul.rating li {
    display: inline-block;
    color: #c2c2c2;
    font-weight: 300;
}
.imagebox.style2 .box-content .box-desc {
    margin: 19px 0 32px;
}
.imagebox .box-content .box-desc {
    margin-top: 18px;
}
.imagebox.style2 ul.location {
    padding: 18px 0;
}
.imagebox ul.location {
    padding: 16px 25px 15px;
    border-top: 1px solid #ebebeb;
}
.imagebox ul.location li.address {
    float: left;
    color: #c2c2c2;
}
.imagebox ul.location li.closed {
    text-align: right;
    color: #d03131;
    font-weight: 400;
}

.imagebox .box-content .box-title.ad span {
    color: #f0dd08;
    border-radius: 2px;
    border: 1px solid #f0dd08;
    padding: 0px 6px 0 9px;
    line-height: 21px;
    overflow: hidden;
    top: 1px;
    height: 20px;
    position: absolute;
}


/* Background Pattern Checkered*/
/*#event-index{
  width: 100%;
  position: relative;
}

#event-index:before {
    background-repeat: repeat !important;
    background-size: auto !important;
    background-image: url(../../images/pattern.png) !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: -101;
}*/

.section-description {
    margin-bottom: 0;
    line-height: 26px;
    font-size: 16px;
    color: #8c9597;
    font-family: "Lato";
    font-weight: 400;
}





.con {
    position: relative;
}
.con:before, .con:after, .ro:before, .ro:after {
    display: table;
    content: " ";
}
.mb40 {
    margin-bottom: 40px;
}
.fade-half {
    opacity: 0.5;
}
hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 0 0 24px 0;
    width: 100%;
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}
hr {
    height: 0;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
hr {
    display: block;
    unicode-bidi: isolate;
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}
@media (max-width: 767px){
.mb-xs-24 {
    margin-bottom: 24px;
    text-align: center;
}}
.unordered_list {
    list-style: none;
    margin-bottom: 24px;
    margin-top: 0;
    padding: 0;
}
.bg-prime {
    background: #13181d !important;
}
.bg-dark h1, nav.bg-dark h1, footer.bg-dark h1, .bg-primary h1, .bg-dark h2, nav.bg-dark h2, footer.bg-dark h2, .bg-primary h2, .bg-dark h3, nav.bg-dark h3, footer.bg-dark h3, .bg-primary h3, .bg-dark h4, nav.bg-dark h4, footer.bg-dark h4, .bg-primary h4, .bg-dark h5, nav.bg-dark h5, footer.bg-dark h5, .bg-primary h5, .bg-dark h6, nav.bg-dark h6, footer.bg-dark h6, .bg-primary h6 {
    color: #ffffff;
}
.bg-dark p, nav.bg-dark p, footer.bg-dark p, .bg-primary p, .bg-dark span, nav.bg-dark span, footer.bg-dark span, .bg-primary span, .bg-dark li, nav.bg-dark li, footer.bg-dark li, .bg-primary li {
    color: #fefefe;
}
.mb32 {
    margin-bottom: 32px;
}
.overflow-hidden {
    overflow: hidden;
}
h2.uppercase {
    letter-spacing: 10px;
    margin-right: -10px;
}
.mb40 {
    margin-bottom: 40px;
}
.uppercase {
    font-weight: 400;
    text-transform: uppercase;
}
.con span, .con a, .con h4, .con h6, .con h2{
  color: #ffffff!important;
}
.percent-b {
  border-width: 5px;
  border-color: red;
  border-style: solid;
  padding-left: 8px;
}
.p-unset {
  padding-left: unset;
}
/*!---------- 6. BUTTONS ----------*/
.butn {
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  border: 2px solid #13181d;
  padding: 5px 26px;
  height: 40px;
  min-width: 150px;
  line-height: 36px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 0;
  color: #13181d;
  text-align: center;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  margin-right: 8px;
  margin-bottom: 24px;
  display: inline;
}
.butn:last-child,
.butn:last-of-type {
  margin-right: 0;
}
.butn:hover {
  background: #13181d;
  color: #fff;
}
.butn-icon {
  width: 40px;
  height: 40px;
  font-size: 20px;
  min-width: 0;
  padding: 0;
  line-height: 38px;
}
.butn-lg {
  height: 50px;
  line-height: 46px;
  min-width: 200px;
}
.butn-icon.butn-lg {
  width: 50px;
  height: 50px;
  line-height: 49px;
  font-size: 24px;
  min-width: 0;
}
.butn-icon.butn-sm {
  width: 30px;
  height: 30px;
  line-height: 29px;
  font-size: 13px;
  min-width: 0;
  padding: 0 0 0 1px!important;
}
.butn-sm {
  height: 30px;
  font-size: 11px;
  line-height: 27px;
  min-width: 0;
}
.butn-filled {
  background: #13181d;
  color: #fff;
}
.butn-white,
.image-bg .butn,
.image-bg .butn:visited {
  color: #fff;
  border-color: #fff;
}
.butn-white:hover,
.image-bg .butn:hover,
.image-bg .butn:visited:hover {
  background: #fff;
  color: #222;
}
.image-bg .butn.butn-filled,
.image-bg .butn-filled:visited {
  border-color: #13181d;
}
.image-bg .butn-filled:hover {
  border-color: #fff;
}
.butn-rounded {
  border-radius: 25px;
}
body.butn-rounded .butn {
  border-radius: 25px !important;
}
.bg-light .butn {
  border-color: #222;
  color: #222;
}
.bg-light .butn:visited,
.bg-light .butn:visited:hover {
  color: #222;
}
.bg-light .butn-filled,
.bg-light .butn-filled:visited {
  color: #fff;
}
.butn:visited {
  color: #13181d;
}
.butn-white:visited,
.butn:visited:hover {
  color: #fff;
}
.butn-white:visited:hover {
  color: #222;
}
.butn-filled:visited {
  color: #fff;
}
.butn.bg-dark {
  color: #fff;
  border-color: #292929;
}
.butn.bg-dark:hover {
  background: #434343;
}
.bg-primary .butn {
  color: #fff;
  border-color: #fff;
}
.bg-primary .butn:hover {
  background: #fff;
  color: #13181d;
}



/*[ Search Bar ]*/
/*------------------------------------------------------------------
[ 25. Filter ]
*/
.filter {
  background-color: #fff;
  margin: 0px 0px 40px 0px;
  padding: 20px; }
  .filter .checkbox-wrapper {
    margin-bottom: 10px; }
    .filter .checkbox-wrapper .checkbox {
      margin-bottom: 7px;
      margin-top: 7px;
      padding: 0px; }
      .filter .checkbox-wrapper .checkbox label {
        color: rgba(54, 54, 54, 0.6);
        font-weight: 400;
        padding: 0px; }
  .filter .form-group {
    margin-bottom: 0px; }
  .filter button[type=submit] {
    float: right; }
    @media (max-width: 767px) {
      .filter button[type=submit] {
        float: none;
        margin: 30px 0px 0px 0px; } }

.filter-actions {
  margin-top: 10px; }
  .filter-actions a {
    color: rgba(0, 0, 0, 0.45);
    font-weight: 400;
    margin: 0px 30px 0px 0px; }
    .filter-actions a:hover {
      color: #c6af5c; }
  .filter-actions .fa {
    color: #b6b7b8;
    font-size: 13px;
    margin: 0px 7px 0px 0px;
    vertical-align: 0px; }

.filter-sort {
  float: right;
  margin-top: -6px; }
  .filter-sort .form-group {
    display: inline-block; }



/*[ Group/Event Profile details]*/

/* Banner */

#inner-banner-2 {
    background-image: url(../images/header.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 0;
}
.inner_banner_2_detail {
    padding: 90px 0 70px;
}
.inner_banner_2_detail h2 {
    color: #fff;
    font-size: 36px;
    padding-bottom: 20px;
}
.inner_banner_2_detail p {
    color: #fff;
}
.inner_banner_2_detail p .fa {
    padding: 0 8px;
}