/*
    Welcome Page
*/
   .welcome_header{
        /*background-color: #9E5A63 !important;*/
/*        margin-top:-20px !important;
*/       /* margin-bottom: -10px !important;*/
        /*margin-bottom: 0 !important;*/
   }
/*    .welcome_header:after {
      content:'';
      top: 0;
      left: 0;
      z-index: 10;
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      background: blue;
      opacity: 0.1;
    }*/
    .minfooter{
        background-color: #314455 !important;
        color: white !important;
    }

    .thumnail-border{
        border:0 !important;
    }

    .minfooter{
      padding:20px 0;
      opacity: 0.8;
    }
    
    .carousel-inner > .item > img {
      width:100%;
      height:600px;
      max-height: 100%;
    }

    .marginbottom .panel{
      transition: box-shadow 0.5s;
    }

    .marginbottom .panel:hover{
        cursor: pointer;
        box-shadow: 5px 0px 40px rgba(0,0,0,0.8);
    }
    .rounded{
      border-radius: 3px;
     
    }
    .pt-b{
      padding-top:15px;
      padding-bottom:15px;
      padding-left:20px;
    }
    .circle{
            border-radius: 50%;
            height: 100px;
            font-weight: bold;
            width: 100px;
    }
    

/*Search Bar*/
    .search{
/*      padding-top:50px;
      padding-bottom: 50px;*/
      margin-top: -30px!important;
    }
.search-bar {
  background: transparent;
}


    .margin-t-b{
      margin: 10px auto;
    }

    .margin-t-b a input{
        margin-right: 20px;
        transform: scale(1.5,1.5);
    }

    .search .row .input-group, .search .row .btn-group{
      width:100%;
    }

     .search .row .btn-group .btn,{
      width:100%;
    }
     .search .row .btn-group .btn.dropdown-toggle{
      width:100%;
    }
     .search .row .btn-group .dropdown-menu{
      width:100%;
    }

   
/* Create Group */
/*
.form-group input[type="checkbox"] {
    display: none;
}

.form-group input[type="checkbox"] + .btn-group > label span {
    width: 20px;
}

.form-group input[type="checkbox"] + .btn-group > label span:first-child {
    display: none;
}
.form-group input[type="checkbox"] + .btn-group > label span:last-child {
    display: inline-block;   
}

.form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
    display: inline-block;
}
.form-group input[type="checkbox"]:checked + .btn-group > label span:last-child {
    display: none;   
}

.marginbottom{
  margin-bottom: 20px !important;
}

.resizeable{
  resize: none !important;
}*/

/* event create */


/*show events*/
.panel-body{
  word-wrap: break-word;
}

hr.noresult{
    overflow: visible; /* For IE */
    height: 30px;
    border-style: solid;
    border-color: green;
    border-width: 1px 0 0 0;
    border-radius: 20px;
    color:green;
}
hr.noresult:before { /* Not really supposed to work, but does */
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: green;
    border-width: 0 0 1px 0;
    border-radius: 20px;

}

@media (max-width:768px){
  .carousel-inner > .item > img {
      width:100%;
      height:300px;
    }
}



/*------------------------------------------------------------------
[ Login Page + Register Page ]*/

[ FONT ]*/

@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/poppins/Poppins-Regular.ttf'); 
}

@font-face {
  font-family: Montserrat-Bold;
  src: url('../fonts/montserrat/Montserrat-Bold.ttf'); 
}

.login-body {
  height: 100%;
  font-family: Poppins-Regular, sans-serif;
  margin: 0px; 
  padding: 0px; 
  box-sizing: border-box;
}
.limiter {
  width: 100%;
  margin: 0 auto;
  padding:0 0;
}
.container-login {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: #f2f2f2;
  margin: 0;
}
.wrap-login {
  width: 100%;
  background: #fff;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  /*flex-direction: row-reverse;*/
  margin-left:0;
  padding:0;
}

/* [Register] */
.reverse {
  flex-direction: row-reverse;
}

/* [background Image ]*/
.login-img{
  width: calc(100% - 750px);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}
.login-img:before {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  top: 0;
  background: rgba(0,0,0,0.1);
}
.login-img:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

/*[ Login container ]*/
.p-container {
  box-shadow: none;
  width: 750px;
  min-height: 100vh;
  display: block;
  /*background-color: #f7f7f7;*/
  padding: 100px 55px 55px 55px;
  border:none;
}

/*[ Login Heading ]*/
.login100-form-title {
  width: 100%;
  padding: 10px 0;
  display: block;
  font-size: 30px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
}

/*[ login button ]*/
.btn-new {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  background: #6675df;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/*[ Input text box ]*/
.form-box {
    background: transparent;
}
input.form-box {
  outline: none;
}


/*[ text container and button]*/
.img {
  padding-top: 200px;
}
.img__text {
  z-index: 2;
  position: absolute;
  left: 0;
  top: 50px;
  width: 100%;
  text-align: center;
  color: #fff;
  margin-top: 120px;
}
.img__text p {
  line-height: 1.5;
}
.img__btn {
  z-index: 2;
  position: relative;
  width: 110px;
  height: 40px;
  margin:auto;
  background: transparent;
  color: #fff !important;
  text-transform: uppercase;
  font-size: 20px;
  cursor: pointer;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #fff;
  border-radius: 5px;
}
 
  
/*------------------------------------------------------------------
[ Index Page ]*/
#about, #services, #contact {
  padding: 50px 0;
}
.row-clear {
  margin: 0;
}

/*[ Banner + ban-image]*/ 
.banner {
  background-color: #0c0c0c;
  background-size: cover;
  background-attachment: fixed;
  background-position: center, center;
  background-repeat: no-repeat;
  position: relative;
}
.size{
    padding: 15em 0 11em 0;
}

.ban-image {
  padding: 5em 0 11em 0!important;

}

/*[ 'Get Started' Button ]*/
.actions {
  padding: 0;
  list-style-type: none;
}
.actions li {
  list-style: none;
  padding-left:0;
}
.start-btn {
  font-weight: 700;
  color: #fff !important;
  background-color: #EB586F;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
  display: inline;
}
.btn-xl {
  text-transform: uppercase;
  padding: 1.5rem 3rem;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}
.text-white {
    color: #fff!important;
}
.title h1{
  font-size: 60px; 
  padding-bottom: 10px;
}
.flex-sb-m {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
}
section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}
section h3.section-subheading {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 75px;
  text-transform: none;
  font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
@media (min-width: 768px) {
  section {
    padding: 50px 0;
  }
}

/*[ Section 1 of index page ]*/
.bg-purple {
  /*background-color: #6675df;*/
}
.rounded-circle {
    border-radius: 50%!important;
}
.img-fluid {
    max-width: 90%;
    height: auto;
    vertical-align: middle;
    border-style: none;
}
.service-box {
    max-width: 400px;
    display: inline-block;
}
.ml-auto, .mx-auto {
    margin-left: auto!important;
    margin-right: auto!important;
}


/*[ 'how it works?' Section 2 of index page ]*/
.bg-light {
  background-color: #f8f9fa;
}
.steps {
  padding-top: 4rem;
}
.process-content {
  position: relative;
  text-align: center;
  padding-top: 20px;
}
.process-content .item[data-item]::before {
  background: #38424e;
  color: #FFFFFF;
  border-radius: 100%;
  font-family: "montserrat-bold", sans-serif;
  content: attr(data-item);
  display: inline-block;
  font-size: 18px;
  height: 42px;
  width: 42px;
  line-height: 42px;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 1.5rem;
}
.process-content h5 {
  color: #05bca9;
  font-size: 1.6rem;
  line-height: 1.875;
  letter-spacing: .2rem;
  margin-bottom: .3rem;
}

/*[ Main Footer section ]*/
.footer{
    background-color: #19181A !important;
    color:#fff !important;
    padding:10px;
}

.footer-main{
     background-color: #33383c;
     padding-top:30px;
}        
.logo{
    color:#FFF;
    font-weight:700;
    font-size:30px;
}
.address span , .menu span{
   color: #FFF; 
   font-weight: bold; 
   border-bottom: 1px solid #c7c7c7; 
   padding:10px 0px;
   display: block;
   text-transform: uppercase;
   font-size: 16px;
   letter-spacing: 3px;
}
.address li a , .menu li a{
    color:#FFF!important;
    padding: 0!important;
    text-decoration:none;
    display: inline-block;
}
.address li, .menu li{
    margin:20px 0px;
    list-style: none;
}
.address .fa{
    color: #da3e44;
    margin-right: 10px;
    font-size:18px;
}

/*------------------------------------------------------------------
[ Create Event ]*/
.jumbotron-fluid {
  padding-top: 20px;
}
.event-container {
  padding-bottom: 100px
}

/* [Explore Category] */

.listing-item {
    background: #ccc;
    border-radius: 4px 4px 0 0;
    height: 100%;
    display: block;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
/*    height: 265px;
*/    z-index: 100;
    border-radius: 4px;
}



.listing-item img {
    object-fit: cover;
    height: 200px;
    width: 100%;
    border-radius: 4px 4px 0 0;

}


hr.my-4 {
  border-top: 3px double #8c8b8b;
  width: 150px;
}




@import url(https://fonts.googleapis.com/css?family=Lora|Roboto:400,500);
body::before,
body::after {
  content: "";
  display: table;
  clear: both;
}

 body, .text-light-black {
   color: rgba(0,0,0,0.6);
}
.text-black {
  color: rgba(0,0,0,0.9);
}
.text-muted {
  color: rgba(0, 0, 0, 0.3);
}



.ff-serif {
  font-family: 'Lora', serif;
}

.font-weight-normal {
  font-weight: normal;
}
.font-weight-medium {
  font-weight: 500;
}

 .lts-1px {
   letter-spacing: 1px;
}
.lts-2px {
  letter-spacing: 2px;
}


.w-full {
  width: 100%;
}

.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}

.d-block {
  display: block;
}
.d-inline-block {
  display: inline-block;
}

.p-relative {
  position: relative;
}
.p-absolute {
  position: absolute
}



.bg-white {
  background-color: #fff;
}






.small {
  font-size: 0.75rem;
}
.card-heading {
  font-size: 2.25rem;
}
.styled-link {
  text-decoration: none;
  outline: none;
  color: #2196fe;
  transition: all 0.25s ease-in; 
}
.styled-link:hover,
.styled-link:focus,
.styled-link:active {
  color: #536dfe;
}
.shadow-1 {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.15);
}
.blue-hover {
  transition: all 0.25s ease-in;
  border-bottom: 5px solid transparent;
}
.blue-hover:hover {
  transform: translateY(-5px);
  border: none;
  border-bottom: 5px solid #EB586F;
}




.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.float-left {
  float: left;
}
.float-right{
  float: right;
}






/**Margin and padding utilities*/
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.ml-auto {
  margin-left: auto;
}
.mr-auto {
  margin-right: auto;
}


.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}
.my-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.my-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.my-3 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.mt-0 {
  margin-top: 0;
}
.mt-1 {
  margin-top: 1rem;
}
.mt-2 {
  margin-top: 2rem;
}
.mt-3 {
  margin-top: 3rem;
}

.mb-0 {
  margin-bottom: 0;
}
.mb-1 {
  margin-bottom: 1rem;
}
.mb-2 {
  margin-bottom: 2rem;
}
.mb-3 {
  margin-bottom: 3rem;
}



.px-0 {
  padding-left: 0;
  padding-right: 0;
}
.px-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.px-2 {
  padding-left: 2rem;
  padding-right: 2rem;
}
.px-3 {
  padding-left: 3rem;
  padding-right: 3rem;
}


.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}
.py-1 {
  padding-top: 1rem;
}
.py-2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.py-3 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}




.outer-div 
{
     height: 200px;
     overflow: hidden; 
     position: relative;
}

.image-holder {
    display:inline-block;
    position: relative;
}
.image-holder:after {
    content:'';
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    background: blue;
    opacity: 0.1;
}
.image-holder:hover:after {
    opacity: 0;
}



/*.inner-div
{
background-color:rgba(233,30,99,.3);
     height: 100%;
     width: 100%;
     background-size: cover;
     background-position: center;
     
}
.inner-div:hover
{
  background-color:transparent;
     
}*/










.lis-categories {
  -webkit-transition: 0.4s;
  cursor: pointer; 
    font-size: 14px;
    bottom: -100%;
    transition: all 0.4s; 
  }

  .lis-categories:hover {
    -webkit-transform: scale(1.06);
    -moz-transform: scale(1.1);
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.18); 
  }

.lis-categories div {
      -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -o-transition: all 1s ease; /* IE 9 */
    -ms-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
        max-width: 100%;
}

.lis-categories:hover img {
    -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
     transform:scale(1.25);
}

.wow {
      margin-bottom: 1.5rem!important;
}

.lis-bg-primary {
  background-color: #ff214f; }

.lis-bg-light {
  background-color: #f7f7f7; }

.lis-bg-dark {
  background-color: #222222; }

.lis-green-light {
  background-color: #64bc36; }

.lis-bg1 {
  background-color: #bf55ec; }

.lis-bg2 {
  background-color: #f89406; }

.lis-bg3 {
  background-color: #7747ff; }

.lis-bg4 {
  background-color: #f9690e; }

.lis-bg5 {
  background-color: #27ccab; }

.lis-bg6 {
  background-color: #f62459; }

.lis-bg7 {
  background-color: #19b5fe; }

.lis-bg8 {
  background-color: #f03434; }

.lis-bg9 {
  background-color: #ffd200; }

.lis-bg10 {
  background-color: #192026; }

.lis-bg11 {
  background-color: #3b97b5; }

.lis-bg12 {
  background-color: #22d754; }

  .pb-4, .py-4 {
    padding-bottom: 1.5rem!important;
}
.pt-4, .py-4 {
    padding-top: 1.5rem!important;
}



/*Event-date*/
.post__media {
    position: relative;
    z-index: 9;
}

.post__media .images {
    margin-bottom: 25px;
}

.post__media .images img {
    width: 100%;
}
img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border: 0;
}

.post__media .images ~ .post__date {
    top: 10px;
    left: 10px;
    position: absolute;
    margin-left: 0;
    margin-bottom: 0;
}


.post__date {
    width: 60px;
    margin-bottom: 10px;
    padding: 13px 10px;
    text-align: center;
    font-weight: 600;
    color: #4d4d4d;
    border: 1px solid #f1f1f1;
    background-color: #fff;
}

.post__title {
    margin-top: 0;
    font-size: 24px;
    margin-bottom: 5px;
}

.post__date .day {
    font-size: 24px;
    line-height: 1;
    padding-bottom: 4px;
    margin-bottom: 9px;
    letter-spacing: 0.1em;
    border-bottom: 2px solid #4d4d4d;
}
.post__date span {
    display: block;
}

.post__date .month {
    font-size: 10px;
    letter-spacing: 0.05em;
    line-height: 1;
    text-transform: uppercase;
}

.post__grid {
    margin-bottom: 40px;
}
.post {
    position: relative;
}



/*Modal*/
.mod {
  border: 2px solid #fff;
  -webkit-border-radius:  26px;
  -moz-border-radius:     26px;
  -o-border-radius:       26px;
  -ms-border-radius:      26px;
  -moz-box-shadow:    1px 1px 5px rgba(0,0,0,0.5);
  -webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
  box-shadow:         1px 1px 5px rgba(0,0,0,0.5);
  width: 450px;
}

.modal-open {
    overflow: scroll;
}

 .modal-dialog {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) !important;
    }





@media screen and (max-width: 980px)
.wrapper.spotlight.alt {
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.wrapper.spotlight.alt {
    -moz-flex-direction: row-reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.wrapper.spotlight {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-align-items: stretch;
    -webkit-align-items: stretch;
    -ms-align-items: stretch;
    align-items: stretch;
    padding: 0;
}
.wrapper.style1 {
    background-color: #72bee1;
    color: #ffffff;
}
.wrapper.style2 {
    background-color: #63b6b5;
    color: #ffffff;
}
.wrapper.style3 {
    background-color: #e78e84;
    color: #ffffff;
}



.wrapper {
    position: relative;
}

.wrapper.spotlight .content {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    padding: 5em 1em 2em 5em;
}
.wrapper.spotlight > :first-child {
    width: 60%;
}
.wrapper.spotlight > * {
    margin: 0;
}

.wrapper.spotlight > .image {
    border-radius: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: block;
}
.wrapper.spotlight > :last-child {
    width: 40%;
}

.image {
    border-radius: 4px;
    border: 0;
    display: inline-block;
    position: relative;
}





.reserve-block {
    padding: 30px 0;
}
.reserve-block h5 {
    color: #3e434b;
    font-weight: 400;
    display: inline-block;
    margin: 0;
}
.reserve-block p {
    display: inline-block;
    font-size: 18px;
    color: #b2b8c3;
    font-weight: 400;
    padding: 0 0 0 8px;
    margin: 0 0 8px;
}
@media (max-width: 576px)
.reserve-seat-block {
    text-align: center;
}
@media (max-width: 768px)
.reserve-seat-block {
    text-align: left;
}
@media (max-width: 992px)
.reserve-seat-block {
    margin: 15px 0 0;
}
.reserve-seat-block {
    text-align: right;
}
@media (max-width: 576px)
.join-btn {
    margin: 0 0 0;
    width: 100%;
}
@media (max-width: 768px)
.join-btn {
    margin: -7px 0 0;
}
.join-btn {
    display: inline-block;
    vertical-align: top;
}
@media (max-width: 1200px)
.featured-btn-wrap {
    margin: 3px 0 0;
}
.featured-btn-wrap {
    text-align: center;
}
@media (max-width: 576px)
.featured-btn-wrap .btn-danger {
    width: 100%;
}
.featured-btn-wrap .btn-danger {
    background: #ff3a6d;
    padding: 16px 50px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    border: 0;
}
.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}
.booking-details_wrap {
    padding: 26px 0;
}
.light-bg {
    background: #f3f4f7;
}
@media (max-width: 992px)
.responsive-wrap {
    max-width: 100%;
    -webkit-box-flex: 100%;
    -webkit-flex: 100%;
    -ms-flex: 100%;
    flex: 100%;
}
.joining_wrap {
    background: #fff;
    padding: 30px;
}

.mt-4 {
    margin-top: 1.5rem!important;
}
/*------------------------------------------------------------------
[ Create Group ]*/







